<div class="row">
  {{#each answers as |answer|}}
  {{answer-tile answer=answer answers=answers selectCard="selectCard"}}
  {{/each}}
</div>
<hr>
<div id="selected-card"class="row">
  {{selectedStatus.cardcontent}}
</div>
