
{{#each playerAnswers as |playerAnswer|}}

<div class="answerTile">
  <p>{{playerAnswer.cardcontent}}</p>
  <p>{{playerAnswer.id}}</p>
  <button id="selectCard" class="btn btn-secondary"{{action 'selectCard' playerAnswer}}>select</button>
</div>

{{/each}}
