
{{#each playerAnswers as |playerAnswer|}}

<div class="answerTile">
  <p>{{playerAnswer.cardcontent}}</p>
  <button id="selectCard" class="btn change-button position-buttons-bottom-right"{{action 'selectCard' playerAnswer}}>select</button>
</div>

{{/each}}
