{{#each answers as |answer|}}
  <div class="col-sm-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{answer.cardcontent}}</p>
      </div>
    </div>
  </div>
{{/each}}
