{{#each answers as |answer|}}

<div class="answerTile">
  <p>{{answer.cardcontent}}</p>
  <p>{{answer.id}}</p>

  <button id="selectCard" class="btn"{{action 'selectCard' answer}}>select</button>
</div>
{{/each}}
