{{#each playerAnswers as |playerAnswer|}}

<div class="answerTile">
  <p>{{playerAnswer.cardcontent}}</p>
  <p>{{playerAnswer.id}}</p>

  <button id="selectCard" class="btn"{{action 'selectCard' playerAnswer}}>select</button>
</div>
{{/each}}
