<div class="container">
    <div class="row" id="row">
      <div class="col-lg-6">
        <img class="img-circle" src="http://www.aiscoonline.com/wp-content/themes/aisco-theme/images/female.png" alt="Fernanda image" width="140" height="140">
        <h2>Fernanda Lowe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. <br>
        Sed seuam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/pub/dir/Fernanda/Lowe" role="button">See my Linkedin &raquo;</a></p>
      </div>
      <div class="col-lg-6">
        <img class="img-circle" src="http://www.aiscoonline.com/wp-content/themes/aisco-theme/images/female.png" alt="" width="140" height="140">
        <h2>LaTaevia Berry</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. <br>
        Sed seuam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com" role="button">See my Linkedin &raquo;</a></p>
      </div>
    </div>
      <div class="row" id="row2">
      <div class="col-lg-6">
        <img class="img-circle" src="http://www.beaumontelder.com/wp-content/uploads/2013/04/male_icon.png" alt="image" width="140" height="140">
        <h2>John Dow</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. <br>
        Sed seuam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com" role="button">See my Linkedin &raquo;</a></p>
      </div>
      <div class="col-lg-6">
        <img class="img-circle" src="http://www.beaumontelder.com/wp-content/uploads/2013/04/male_icon.png" alt="image" width="140" height="140">
        <h2>Kevin Deganos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. <br>
        Sed seuam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com" role="button">See my Linkedin &raquo;</a></p>
      </div>
    </div>
  </div>
