<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title></title>
</head>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index'}}<div class="navbar-brand"> Developers Against Humanity</div>

      {{/link-to}}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="nav-bar-links">
        <li id="nav-name">
          {{#link-to 'rules'}}rules{{/link-to}}
        </li>
        <li>
          {{#link-to 'index'}}home{{/link-to}}
        </li>
        <li>
          {{#link-to 'about'}}about us{{/link-to}}
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- <h2 id="title"></h2> -->

{{outlet}}
<div>
  <img src="assets/images/cah2.jpg" alt="">
</div>

<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="text-center center-block">
    <p id="checkUs"></p>
      <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social" style="font-size:45px;color:white"></i></a>
      <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social" style="font-size:45px;color:white"></i></a>
      <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social" style="font-size:45px;color:white"></i></a>
      <a href=""><i id="social-em" class="fa fa-envelope-square fa-3x social" style="font-size:45px;color:white"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-copyright-text clearfix">
      <span id="copyright" class="copyright-text pull-left">&copy; 2016. All rights reserved.</span>
    </div>
  </div>
</nav>
</footer>
