<div class="container">
  <div class="row player-name">
    {{model.player.username}}
  </div>
  <div class="row">
    <!-- //div question tile -->
    {{question-tile questions=model.questions}}
  </div>
  <hr>
  <div class="row">
    {{answer-selection playerAnswers=model.player.answers allAnswers=model.allAnswers player=model.player players=model.players game=model.game transIndex="transIndex"}}
  </div>
</div>
