<div class="container">
  <div class="row">
    <p>{{model.username}}</p>
    {{answer-selection answers=model.answers}}
    {{#link-to "index"}}home{{/link-to}}
  </div>
  <hr>
  <div class="row">
  </div>
</div>
